In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1 + 1

2

In [4]:
1 * 3

3

In [6]:
1 / 35.0

0.02857142857142857

2 ** 2

In [7]:
2 ** 5

32

In [8]:
var = 12

In [9]:
name_of_var = 12

In [11]:
num = 20
name = 'azriel'

In [13]:
'My name is {} and My age is {}'.format(name,num)

'My name is azriel and My age is 20'

In [14]:
print('My name is {} and My age is {}'.format(name,num))

My name is azriel and My age is 20

In [15]:
b = 'asdfghkjloi'

In [20]:
b[:3]

'asd'

In [39]:
d = {'K1':{'ano':[1,2,3]}}

In [40]:
d['K1']

{'ano': [1, 2, 3]}

=

In [42]:
{1,2,4,5,2,1,3,6,6,2,1,3,4,7,7}

{1, 2, 3, 4, 5, 6, 7}

In [43]:
seq = [1,2,3,4,5,6]

In [5]:
for item in seq:
    print('anda')

anda
anda
anda
anda
anda
anda

In [6]:
z = 2 
while z < 10:
    print('z is: {}'.format(z))
    z = z+1

z is: 2
z is: 3
z is: 4
z is: 5
z is: 6
z is: 7
z is: 8
z is: 9

In [4]:
seq = [1, 2, 3, 4, 5]

In [6]:
for item in seq:
    print('hello')

hello
hello
hello
hello
hello

In [1]:
i = 1 

while i < 5: 
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [4]:
i = 5 

while i < 10: 
    print('i is: {}'.format(i))
    i = i+2

i is: 5
i is: 7
i is: 9

In [3]:
for x in range(0, 5):
    print(x)

0
1
2
3
4

In [2]:
for x in range(0, 5):
    print(x)

0
1
2
3
4

In [1]:
range (0, 5)

range(0, 5)

In [7]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [1]:
z = [1,3,5,7,9]

In [2]:
out = []
for num in z:
    out.append(num**3)

In [3]:
print(out)

[1, 27, 125, 343, 729]

In [5]:
[num**3 for num in z]

[1, 27, 125, 343, 729]

In [3]:
z = [3,2,4,5]

In [4]:
out = []
for num in z:
    out.append(num**2)

In [5]:
print(out)

[9, 4, 16, 25]

In [57]:
def my_func(param1 ='default'):
    print('hello i love '+param1)

In [59]:
my_func('you')

hello i love you

In [54]:
def square(num):
    return num**6

In [55]:
out = square(6)

In [56]:
out

46656

In [2]:
t = lambda num : num*3

In [3]:
t(6)

18

In [9]:
seq = [1,2,3,4,5,6,10,12,34,50]

In [10]:
list(map(lambda num : num*10, seq))

[10, 20, 30, 40, 50, 60, 100, 120, 340, 500]

In [11]:
list(filter(lambda num : num%2 == 0, seq))

[2, 4, 6, 10, 12, 34, 50]

In [18]:
def my_func(name='defalut'):
    print('goris '+name)

In [19]:
my_func('jelek')

goris jelek

In [20]:
s = 'my name is Goriz'

In [21]:
s.lower()

'my name is goriz'

In [22]:
s.upper()

'MY NAME IS GORIZ'

In [25]:
s.split()

['my', 'name', 'is', 'Goriz']

In [26]:
tweet = 'go sport1 #go sport'

In [27]:
tweet.split()

['go', 'sport1', '#go', 'sport']

In [30]:
tweet.split('#')

['go sport1 ', 'go sport']

In [38]:
d = {'key1' : '1', 'key2' : '2'}

In [39]:
d.keys()

dict_keys(['key1', 'key2'])

In [40]:
d.items()

dict_items([('key1', '1'), ('key2', '2')])

In [42]:
d.values()

dict_values(['1', '2'])

In [1]:
lst = [1,2,3]

In [2]:
lst.pop()

3

In [3]:
lst.pop(0)

1

In [4]:
lst.append('new')

In [5]:
lst

[2, 'new']

In [6]:
'x' in [1,2,3]

False

In [8]:
'x' in ['x','y','z']

True

In [9]:
x = [(1,2),(3,4),(10,11)]

In [13]:
for (a,b) in x:
    print (a,b)

1 2
3 4
10 11

In [10]:
def countMe (st):
    count = 0
    for word in st.lower().split():
        if word == 'and':
            count += 1
    return count

In [11]:
countMe ('my mother and my sister go to the market and i stay at home and my father go to the office')

3

In [30]:
def gmail (email):
    print ('email: '+email)

In [31]:
gmail ('azriel.imanto@gmail.com')

email: azriel.imanto@gmail.com

In [39]:
def findSam(st):
    return 'sam' in st.lower().split()

In [41]:
findSam('me and andri go to collage sam')

True

In [59]:
if 1 < 2:
    return 'first'
elif 3 > 50:
    return 'midlle'
else:
    return 'last'

SyntaxError: 'return' outside function (<ipython-input-59-a8a8749b4a1f>, line 2)